{% extends "layout.html" %}
{%block title%}Contact{% endblock %}
{% block main %}
   <header>
      <h1>Bible Therapy</h1>
   </header>
   <main>
    <div>
      <h2>Contact Us!</h2>
      <form action="/email" method="post">
        <input class="form-control mx-auto w-auto" type="text" placeholder="Name" name="name">
        <input class="form-control mx-auto w-auto" type="email" placeholder="Email" name="email" value="{{ email }}">
        <input class="form-control mx-auto w-auto" type="obj" placeholder="Subject" name="subject">
        <textarea class="form-control mx-auto w-auto" placeholder ="Message" name="text"></textarea>
        <button class="btn btn-primary" onclick ="popup('Sent!', this)">Submit</button>
      </form>
    </div>
   </main>

{% endblock %}
